// ---
// andrel's niri config
// ---
// File:       config.kdl
// Created:    Jun 3, 2025
// Modified:   Sep 30, 2025
// ---

// autostart
// ---
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "swww-daemon"
spawn-at-startup "qs"
spawn-sh-at-startup "wl-clip-persist -c regular"
spawn-sh-at-startup "thunar --daemon"
spawn-sh-at-startup "swayidle -w"
spawn-sh-at-startup "kanata -c /home/andrel/.config/kanata/keeb.kbd"
spawn-sh-at-startup "sleep 3; openrgb --startminimized"
spawn-sh-at-startup "steam -silent -system-composer %U"

// environment variables
// ---
environment {
   QT_QPA_PLATFORM "wayland"
   QT_QPA_PLATFORMTHEME "qt6ct"
   QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
   QT_AUTO_SCREEN_SCALE_FACTOR "1"
	__GL_GPU_DISALLOW_SYNCHRONIZATION "1"
	__GL_POWERMIZER_MODE "1"
}

// input settings
// ---
input {
   keyboard {
      xkb{
         layout "us"
      }
      //numlock
}
   touchpad {
      tap
      natural-scroll
      accel-profile "flat"
   }
   mouse {
      accel-profile "flat"
   }
   // warp mouse to focus and set focus to follow mouse
   warp-mouse-to-focus
   focus-follows-mouse max-scroll-amount="35%"
   workspace-auto-back-and-forth
}

// outputs
// ---
output "eDP-1" {
	// off
   mode "1920x1080@240.000"
   scale 1
   transform "normal"
   position x=0 y=0
}

output "ASUSTek COMPUTER INC VG27AQ3A S7LMAS007908" {
	// off
	mode "2560x1440@144.000"
	variable-refresh-rate // on-demand=true
	scale 1
	transform "normal"
	position x=1920 y=0
}

output "PNP(WEH) WM32DX9019 0000000000001" {
	// off
	mode "2560x1440@143.995"
	scale 1
	transform "normal"
	position x=1920 y=0
}

output "PNP(HJW) MACROSILICON 0x0002E9BD" {
	// off
	mode "640x480@59.940"
	scale 1
	transform "normal"
	position x=800 y=0
}

// windows layout and effects
// ---
layout {
   gaps 16
   center-focused-column "never"
   always-center-single-column
   //default-column-display "tabbed"

   // column widths
   // ---
   preset-column-widths {
      proportion 0.33333
      proportion 0.5
      proportion 0.66667
   }
   default-column-width { proportion 0.5; }
   
   // window heights
   // ---
   preset-window-heights {
      proportion 0.5
      proportion 1.0
   }
   
   // draw a ring around focused window
   // ---
   focus-ring {
      //off
      width 1
      active-gradient from="#8aadf4" to="#8bd5ca" in="oklch shorter hue"
      active-color "#8aadf4"
      inactive-color "#ffffff00"
   }

   // draw a border around windows
   // ---
   border {
      //off
      width 1
      active-color "#939ab7"
      inactive-color "#6e738d"
   }

   // drop shadows for windows
   // ---
   /-shadow {
      on
      draw-behind-window true
      softness 30
      spread 5
      offset x=0 y=0
      color "#0007"
   }

   // add tab-indicaotor
   // ---
   tab-indicator {
      // hide-when-single-tab
		place-within-column
      width 8
      gap 5
      position "left"
      length total-proportion=0.333
      gaps-between-tabs 8
      corner-radius 4
      active-color "#89b4fa"
      inactive-color "#45475a"
      urgent-color "#74c7ec"
   }

   // edit hint when moving windows
   // ---
   insert-hint {
      //off
      color "#8aadf46f"
   }

   // add gaps to the sides and tops
   // ---
   struts {
      left 32
      right 32
      top -4
      bottom -4
   }

   // make background transparent
   // ---
   background-color "#00000000"
}

// no workspace shadows in overview
// ---
overview {
   workspace-shadow { off; }
}

// no window decorations
// ---
prefer-no-csd

// set path for screenshots
// ---
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

// animation settings
// ---
animations {
   //off
   slowdown 2.0
   window-resize {
      custom-shader r"
         vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
            vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
            vec4 color = texture2D(niri_tex_next, coords_tex_next.st);
            return color;
         }
         "
   }
}

// windows rules
// ---
   // float windows upon open
   // ---
window-rule {
   match title="^Picture-in-picture$"
	match app-id="waypaper"
	match app-id=r#"^thunar$"# title=".*Rename.*"
	match app-id=r#"^thunar$"# title=".*Operation.*"
	match app-id="pinentry-gtk"

	open-floating true
	match is-floating=true
	// baba-is-float true

	shadow {
		on
		softness 30
		spread 0
		draw-behind-window false
		color "#00000070"
		offset x=0 y=0
	}
}

   // round corners on all windows
   // ---
window-rule {
   draw-border-with-background false
   geometry-corner-radius 8
   clip-to-geometry true
}

   // make windows translucent
   // ---
window-rule {
	exclude title="^Picture-in-Picture$"
   exclude app-id="Spotify"
   exclude app-id="OBS Studio"
	exclude app-id="org.kde.haruna"
   opacity 0.975
}

	// have steam notifications not popup in center sccreen
	// ---
window-rule {
	match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
	default-floating-position x=10 y=10 relative-to="bottom-right"
	open-focused false
	geometry-corner-radius 8
	block-out-from "screencast"
}

// layer-rules
// ---
   // render the background as the backdrop
   // ---
layer-rule {
   match namespace="^swww-daemon$"
   place-within-backdrop true
}

	// draw shadow under launcher
	// ---
layer-rule {
	match namespace="launcher"
	shadow {
		on
		softness 30
		spread 0
		draw-behind-window true
		color "#00000070"
		offset x=0 y=0
	}
}

// block notifications from screen recording
// ---
layer-rule {
	match namespace="notifications"
	shadow {
		on
		softness 30
		spread 0
		draw-behind-window true
		color "#00000070"
		offset x=0 y=0
	}
	block-out-from "screencast"
}

// laptop lid open/close events
// ---
// switch-events {
// 	lid-close	{ spawn "/home/andrel/.local/bin/lockscreen.sh"; }
// 	lid-open		{ spawn "/home/andrel/.local/bin/lockscreen.sh"; }
// }

// don't show overview on startup
// ---
hotkey-overlay { skip-at-startup; }

// key bindings
// ---
binds {
   // show list of hotkeys
   // ---
   Mod+Shift+Slash { show-hotkey-overlay; }

   // launch programs
	// ---
   Mod+1			allow-inhibiting=false { spawn "ghostty" "+new-window"; }
   Mod+2			allow-inhibiting=false { spawn "thunar"; }
   Mod+3			allow-inhibiting=false { spawn "brave";}
   Mod+4			allow-inhibiting=false { spawn "waypaper"; }
   Alt+Space	allow-inhibiting=false { spawn "fuzzel"; }
   Super+L		allow-inhibiting=false { spawn "/home/andrel/.local/bin/lockscreen.sh"; }
   
   // volume keys mappings
   // ---
   XF86AudioRaiseVolume allow-when-locked=true allow-inhibiting=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+" "--limit" "1"; }
   XF86AudioLowerVolume allow-when-locked=true allow-inhibiting=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
   XF86AudioMute        allow-when-locked=true allow-inhibiting=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
   XF86AudioMicMute     allow-when-locked=true allow-inhibiting=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

   // media keys mappings
   // ---
   XF86AudioPlay  allow-when-locked=true  { spawn "playerctl" "play-pause"; }
   XF86AudioPrev  allow-when-locked=true  { spawn "playerctl" "previous"; }
   XF86AudioNext  allow-when-locked=true  { spawn "playerctl" "next"; }

   // brightness keys
   // ---
   XF86MonBrightnessDown   allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }
   XF86MonBrightnessUp     allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }
   
   // navigation keybindings
   // ---
      
      // open/close the overview
      // ---
   Mod+O repeat=false { toggle-overview; }
         // mouse binds
         //---
   Mod+MouseMiddle   { toggle-overview; }

      // close windows
      // ---
   Mod+Backspace	{ close-window; }
   Mod+Q				{ close-window; }

      // switch focus
      // ---
   Mod+Alt+Left    { focus-column-left; }
   Mod+Alt+Down    { focus-window-down; }
   Mod+Alt+Up      { focus-window-up; }
   Mod+Alt+Right   { focus-column-right; }
   Mod+Alt+Home    { focus-column-first; }
   Mod+Alt+End     { focus-column-last; }
         // mouse binds
   Mod+WheelScrollUp    { focus-column-left; }
   Mod+WheelScrollDown  { focus-column-right; }
   Mod+MouseForward     { focus-workspace-up; }
   Mod+MouseBack        { focus-workspace-down; }

      // move window
      // ---
   Mod+Left     { move-column-left; }
   Mod+Down     { move-window-down-or-to-workspace-down; }
   Mod+Up       { move-window-up-or-to-workspace-up; }
   Mod+Right    { move-column-right; }
   Mod+Home     { move-column-to-first; }
   Mod+End      { move-column-to-last; }
   Mod+Comma    { consume-or-expel-window-left; }
   Mod+Period   { consume-or-expel-window-right; }

		//move worskpace
		// ---
	Mod+Shift+Left		{ move-workspace-to-monitor-left; }
	Mod+Shift+Right	{ move-workspace-to-monitor-right; }
	Mod+Shift+Up		{ move-workspace-up; }
	Mod+Shift+Down		{ move-workspace-down; }

         // vim keybinds
         // ---
   //Mod+Alt+H    { focus-column-left; }
   //Mod+Alt+J    { focus-window-down; }
   //Mod+Alt+K    { focus-window-up; }
   //Mod+Alt+L    { focus-column-right; }
   //Mod+H        { move-column-left; }
   //Mod+J        { move-column-to-workspace-down; }
   //Mod+K        { move-column-to-workspace-up; }
   //Mod+L        { move-column-right; }

      // change window dimensions
      // ---
   Mod+R       allow-inhibiting=false { switch-preset-column-width; }
   Mod+Shift+R allow-inhibiting=false { switch-preset-column-width-back;}
   Mod+Equal	allow-inhibiting=false { switch-preset-column-width; }
   Mod+Minus	allow-inhibiting=false { switch-preset-column-width-back;}
   // Mod+Ctrl+R  { reset-window-height; }
   Mod+F       allow-inhibiting=false { maximize-column; }
   Mod+Shift+F	allow-inhibiting=false { fullscreen-window; }
   Mod+F11		allow-inhibiting=false { toggle-windowed-fullscreen; }

      // toggle float widows
      // ---
   Mod+V { toggle-window-floating; }

      // toggle tabbed layout
      // ---
   Mod+W { toggle-column-tabbed-display; }

      // take screenshot
      // ---
   Print					allow-inhibiting=false { screenshot; }
   Mod+Print	 		allow-inhibiting=false { screenshot-window; }
   Mod+Shift+Print	allow-inhibiting=false { screenshot-screen show-pointer=true; }

      // quit the application
      //---
   Mod+Shift+E       { quit; }
   Ctrl+Alt+Delete   { quit; }
}

